{% block content %}

{% endblock %}

<p>------------</p>
<h3>Navigation</h3>
<ul>
    <li><a href="{{ url_for('home')}}">Go to input form.</a></li>
    <li><a href="{{ url_for('all_names')}}">Go view all users.</a></li>
    <li><a href="{{ url_for('specific_user')}}">Go view a specific user's found recipes.</a></li>
    <li><a href="{{ url_for('all_recipes')}}">Go view all recipes.</a></li>
    <li><a href="{{ url_for('nutrition_checker')}}">Go check the highest/lowest nutrition measure recipe.</a></li>
    <li><a href="{{ url_for('most_servings')}}">Feeding an army? View the highest-yield found recipe!</a></li>
    <li><a href="{{ url_for('highest_rating')}}">Cooking to Impress? View the top rated found recipes!</a></li>

</ul>
